{{ define "main" }}
{{ if eq .RelPermalink "/authors/" }}
<div class="col">
<h1 class="title">Authors</h1>
{{ partial "header" (dict "title" (printf "Skyeblog | Authors") "context" .) }}
{{ range $.Site.Taxonomies.authors.ByCount }}
<a class="text-white tab border-2" href="/authors/{{ .Name | urlize }}">
    # {{ .Name }} {{ .Count }} 
</a>

{{ end }}
{{ else }}

{{ partial "header" (dict "title" (printf "Skyeblog | %s" .Name) "context" .) }}
<div class="col">
{{ partial "postlist" . }}
</div>

{{ end }}
{{ end }}