<a href="/">
    <img class="sidebar-pic" src="https://avatars.githubusercontent.com/u/105599773?v=4" alt="ad">
    </a>
    <h2>Skye Waddell</h2>
    <h5>Fullstack Developer & Creative Artist</h5>
    <h6 class="text-muted">@skyelynwaddell • they/them</h6>

    <div class="sidebar-items">
    <a class="btn btn-outline-primary" href=""> <img src="/svg/github.svg" class="icon"> Github</a>
    <a class="btn btn-outline-primary" href=""> <img src="/svg/linkedin.svg" class="icon"> LinkedIn</a>
    <div class="explore">
        <a class="btn btn-outline-primary" href="/">Home</a>
        <a class="btn btn-outline-primary" href="#blog">Blog</a>
        <a class="btn btn-outline-primary" href="/categories">Categories</a>
        <a class="btn btn-outline-primary" href="/authors">Authors</a>
    </div>

</div>