<nav class="navbar top-nav bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="svg/cloud-fog2-fill.svg" alt="Logo" width="30" height="24" class="d-inline-block mainicon align-text-top">
        Skyesblog
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="#blog">Blog</a>
          <a class="nav-link" href="/categories">Categories</a>
          <a class="nav-link" href="/authors">Authors</a>
          <a class="nav-link disabled" aria-disabled="true">&copy; Skyesblog 2024</a>
        </div>
    </div>
  </nav>